@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./bootswatch";
@import "./stripe";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}